@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    min-width: 300px;
}

section .outer{
    width:100%;
  float: left;
  padding: 30px 0;
}
section .outer h1{
    font-size: 40px;
    margin-bottom: 30px;
}
.inner{
    width: 100%;
    float: left;
    padding: 40px;
    box-shadow: 0px 0px 10px #c1c1c1;
    background-color:white ;
}
table tbody tr td button{
    border: none;
    padding: 0%;
}
table{
    font-size: 1.2rem;
}

#addtaskbtn ,#savetaskbtn,#deleteallbtn{
   /* position: relative; */
   /* left:55%; */
   float: right;
   margin: 2%; 
}

input{
margin-bottom: 2%;
}
.taskDate,.taskTime{
    width: 60%;
}
.mainRow{
    background-color: chartreuse;
    font: 800;
}
@media(max-width:450px){

    table{
        font-size: 1rem;
        transform:translateX(-50px) scale(.8);
         padding: 0%;

    }
}
